/***************************/
/*       BREAKING BAD      */
/*        Versión 1        */
/*   Autor: Joseph Luca    */
/*     Fecha: 28/5/2023    */
/*                         */
/***************************/

/* GENERAL */

@font-face {
     font-family: bb;
     src: url('../fonts/breaking-bad-heart-breaking-bad-font-betterstudio.com/Heart\ Breaking\ Bad.otf');
}

body {background-image: url('../images/RV_in_the_desert.jpg');
      background-repeat: repeat-y !important;
      background-position: center;
      background-size: cover;}

#wrapper {background-color: darkgreen;
          margin: auto;
          }

.bg-purple {background-color: purple;}
.bg-green {background-color: chartreuse;}
.bg-magenta {background-color: magenta;}

/** NAVBAR **/

nav {position: sticky !important;
     background-color: green !important;
     top: 0;
     z-index: 99;}

nav a {color:yellow !important;}

#logo {width: 40px;}

/** HERO SECTION **/

#hero {
     background-image: url('../images/Breaking-Bad.jpg');
     height: 90vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     text-align: center;
}

#titulo {
     background-color: chartreuse;
     font-family: bb;
     margin: auto;
     text-align: center;
     border-radius: 100%;
     padding: 10px;
     top: 40%;
     left: 20%;
     position: absolute;
}

/** INTRODUCCION SECTION **/

#intro {
     border-bottom: 1px solid chartreuse;
}

.title {text-align: center !important;
        color: chartreuse;
        font-family: bb;
        font-size: 5rem !important;}

p {color: chartreuse;}

/** PERSONAJES SECTION **/

#personajes {text-align: center;
             border-bottom: 1px solid chartreuse;}

.card {width: 18rem;}

/** SPIN-OFFS **/

#spinoffs {border-bottom: 1px solid chartreuse;}

/** FOOTER **/

footer p {text-align: center;
          color: chartreuse;}

footer .fa {font-size: 2rem;}